/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/backlight.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#include <dt-bindings/zmk/pointing.h>

#include "keymap_aliases.dtsi"
#include "keymap_behaviors.dtsi"
#include "keymap_macros.dtsi"

#define QWR 0
#define NAV 1
#define SYM 2
#define FUN 3
#define MNM 4
#define HAX 5
#define RST 6

/ {       
    keymap {
        compatible = "zmk,keymap";
        main {
            display-name = "Main";
            label = "main";
            bindings = <
            /*╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮*/
                &kp ESC     &kp Q       &kp W       &kp E       &kp R       &kp T     /*                         */ &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSPC
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &kp TAB     &kp A       &kp S       &kp D       &kp F       &kp G     /*                         */ &kp H       &kp J       &kp K       &kp L       RCHQTG      &kp RET
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤───────────╮   ╭───────────├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &kp LSHIFT  &kp Z       &kp X       &kp C       &kp V       &kp B       &bl BL_TOG/* */ &kp MUTE    &kp N       &kp M       &comcolon   &dotcolon   &quex       &kp RSHIFT
            /*╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯*/
                                        &kp LCTRL   &kp LALT    &kp LGUI    &mo SYM     &mo MNM   /* */ &kp SPACE   &mo NAV     &mo FUN     &kp LMEH    &kp LHPR
            /*                        ╰───────────┴───────────┴───────────┴───────────┤           │   │           ├───────────┴───────────┴───────────┴───────────╯                        */
            /*                                                                        ╰───────────╯   ╰───────────╯                                                                        */
            >;

            sensor-bindings = <&inc_dec_kp BRI_UP BRI_DN &inc_dec_kp VOL_UP VOL_DN>;
        };

        navigation {
            display-name = "Navigation";
            label = "navigation";
            bindings = <
            /*╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮*/
                &lock       &desktop    &browser    &terminal    &editor    &chat     /*                         */ &game       &music      &d1         &d2         &d3         &kp DEL
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &toggle     xx          xx          xx          xx          xx        /*                         */ &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   xx          __
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤───────────╮   ╭───────────├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &caps_word  xx          xx          xx          xx          xx          &bl BL_TOG/* */ &kp MUTE    &kp HOME    &kp PG_DN   &kp PG_UP   &kp END     xx          &caps_word
            /*╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯*/
                                        &kp LCTRL   &kp LALT    &kp LGUI    &mo SYM     &mo MNM   /* */ xx          &mo NAV     xx          &to HAX     &mo RST
            /*                        ╰───────────┴───────────┴───────────┴───────────┤           │   │           ├───────────┴───────────┴───────────┴───────────╯                        */
            /*                                                                        ╰───────────╯   ╰───────────╯                                                                        */
            >;

            sensor-bindings = <&scroll_x &scroll_y>;
        };

        symbols {
            display-name = "Symbols";
            label = "symbols";
            bindings = <
            /*╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮*/
                &kp AT      &kp N1      &kp N2      &kp N3      &kp N4      &kp N5    /*                         */ &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp NUBS
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &kp HASH    LCH(TILDE)  LAH(FSLH)   LGH(ASTRK)  LSH(BSLH)   &kp PIPE  /*                         */ &kp CARET   RSH(LPAR)   RGH(RPAR)   RAH(LBRC)   RCH(RBRC)   &euro
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤───────────╮   ╭───────────├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &kp PRCNT   &kp UNDER   &kp MINUS   &kp PLUS    LMH(EQUAL)  &kp AMPS    &kp C_PP  /* */ &kp MUTE    &kp DLLR    RMH(LBKT)   &kp RBKT    &kp LT      &kp GT      &pound
            /*╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯*/
                                        &mo RST     xx          xx          &mo SYM     xx        /* */ &kp SPACE   &mo NAV     &kp LMEH    &mo FUN     &mo HAX
            /*                        ╰───────────┴───────────┴───────────┴───────────┤           │   │           ├───────────┴───────────┴───────────┴───────────╯                        */
            /*                                                                        ╰───────────╯   ╰───────────╯                                                                        */
            >;

            sensor-bindings = <&inc_dec_kp C_NEXT C_PREV &inc_dec_kp VOL_UP VOL_DN>;
        };

        function {
            display-name = "Function";
            label = "function";
            bindings = <
            /*╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮*/
                &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6    /*                         */ &kp F7      &kp F8      &kp F9      &kp F10     &kp F11     &kp F12
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                xx          &kp LCTRL   &kp LALT    &kp LGUI    &kp LSHIFT  xx        /*                         */ xx          &kp RSHIFT  &kp RGUI    &kp RALT    &kp RCTRL   xx
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤───────────╮   ╭───────────├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                xx          xx          xx          xx          &kp LMEH    xx          &bl BL_TOG/* */ &kp MUTE    xx          &kp RMEH    xx          xx          xx          xx
            /*╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯*/
                                        &kp LCTRL   &kp LALT    &kp LGUI    &mo SYM     &mo MNM   /* */ &kp SPACE   &mo NAV     &kp LALT    &mo FUN     &mo HAX
            /*                        ╰───────────┴───────────┴───────────┴───────────┤           │   │           ├───────────┴───────────┴───────────┴───────────╯                        */
            /*                                                                        ╰───────────╯   ╰───────────╯                                                                        */
            >;

            sensor-bindings = <&backlight_ctrl &backlight_ctrl>;
        };

        mnm {
            display-name = "Media&Mouse";
            label = "media_n_mouse";
            bindings = <
            /*╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮*/
                &kp ESC     xx          &kp C_PREV  &kp C_PP    &kp C_NEXT  xx        /*                         */ xx          xx          &mmv M_U    xx          xx          xx
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                &kp TAB     xx          &scrca      &scrc       &scrs       xx        /*                         */ xx          &mmv M_L    &mmv M_D    &mmv M_R     xx          xx
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤───────────╮   ╭───────────├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                xx          xx          xx          xx          xx          xx          xx        /* */ xx          xx          xx          xx          xx          xx          xx
            /*╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯*/
                                        xx          xx          xx          xx          &mo MNM   /* */ &mkp LCLK   &mkp MCLK   &mkp RCLK   xx          xx
            /*                        ╰───────────┴───────────┴───────────┴───────────┤           │   │           ├───────────┴───────────┴───────────┴───────────╯                        */
            /*                                                                        ╰───────────╯   ╰───────────╯                                                                        */
            >;
            
            sensor-bindings = <&scroll_x &scroll_y>;
        };

        hax {
            display-name = "Hax";
            label = "hax";
            bindings = <
            /*╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮*/
                xx          &kp Q       &kp W       &kp E       xx          xx        /*                         */ xx          xx          xx          xx          xx          xx
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                xx          &kp A       &kp S       &kp D       xx          xx        /*                         */ xx          xx          xx          xx          &kp UP      xx
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤───────────╮   ╭───────────├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                xx          &kp Z       &kp X       &kp C       xx          xx          xx        /* */ xx          &kp X       xx          xx          &kp LEFT    &kp DOWN    &kp RIGHT
            /*╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯*/
                                        xx          xx          xx          xx          &kp SPACE /* */ &kp SPACE   xx          xx          xx          &to QWR
            /*                        ╰───────────┴───────────┴───────────┴───────────┤           │   │           ├───────────┴───────────┴───────────┴───────────╯                        */
            /*                                                                        ╰───────────╯   ╰───────────╯                                                                        */
            >;

            sensor-bindings = <&scroll_x &scroll_y>;
        };

        reset {
            display-name = "Reset";
            label = "reset";
            bindings = <
            /*╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                           ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮*/
                &bt BT_CLR  xx          xx          xx          xx          xx        /*                         */ xx          xx          xx          xx          xx          &bt BT_CLR
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                           ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                xx          xx          xx          xx          xx          xx        /*                         */ xx          xx          xx          xx          xx          xx
            /*├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤───────────╮   ╭───────────├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤*/
                xx          xx          xx          &bt BT_PRV  &bt BT_NXT  xx          xx        /* */ xx          xx          &bt BT_PRV  &bt BT_NXT  xx          xx          xx
            /*╰───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼───────────┼───────────┼───────────┴───────────╯*/
                                        &mo RST     xx          xx          &mo SYM     xx        /* */ xx          &mo NAV     xx          xx          &mo RST
            /*                        ╰───────────┴───────────┴───────────┴───────────┤           │   │           ├───────────┴───────────┴───────────┴───────────╯                        */
            /*                                                                        ╰───────────╯   ╰───────────╯                                                                        */
            >;

            sensor-bindings = <&backlight_ctrl &backlight_ctrl>;
        };
        

        // Extra layers for ZMK Studio
        extra1 {
            status = "reserved";
        };
        extra2 {
            status = "reserved";
        };
        extra3 {
            status = "reserved";
        };

    };
};
