#define BRI_UP C_BRI_UP
#define BRI_DN C_BRI_DN
#define VOL_UP C_VOL_UP
#define VOL_DN C_VOL_DN
#define MUTE   C_MUTE

#define LMEH LC(LA(LSHIFT))
#define LHPR LC(LA(LG(LSHIFT)))
#define LHUH LG(LC(LALT))
#define LGTRL LG(LCTRL)

#define LSH(k1) &hm LSHIFT k1
#define LCH(k1) &hm LCTRL k1
#define LAH(k1) &hm LALT k1
#define LGH(k1) &hm LGUI k1

#define RSH(k1) &hm RSHIFT k1
#define RCH(k1) &hm RCTRL k1
#define RAH(k1) &hm RALT k1
#define RGH(k1) &hm RGUI k1

#define HPR(k1) &hm LHPR k1
#define MEH(k1) &hm LMEH k1
#define HUH(k1) &hm LHUH k1
#define GTR(k1) &hm LGTRL k1